{% extends "base.html" %}
{% block body %}
    <!-- 検索バー -->
    <div class="search-bar">
        <input type="text" placeholder="キーワードで検索..." id="searchInput">
        <button type="submit" >検索</button>
    </div>

    <!-- TodoTab -->
    <div class="tabs">
        <button class="tab-link" onclick="openTab(event, 'Incomplete')">未完了 🙅</button>
        <button class="tab-link" onclick="openTab(event, 'Complete')">完了 ✅</button>
    </div>

    <!-- TodoList -->
    <div id="Incomplete" class="tab-content">
{#        <div class="failed-alart-layer">#}
{#            <span class="fa-solid fa-circle-exclamation"></span>#}
{#            <span>削除に失敗しました。</span>#}
{#        </div>#}
{#        <div class="success-info-layer">#}
{#            <span class="fa-solid fa-circle-check"></span>#}
{#            <span>削除に成功しました。</span>#}
{#        </div>#}
        {% if incomplete_todos %}
            <ul>
                {% for todo in incomplete_todos %}
                    <li>
                        <div class="todo-item" onclick="toggleTodoDetails(event)">{{ todo.todo_title }}
                            <!-- 詳細 -->
                            {% if todo.todo_details %}
                                <div class="todo-detail" hidden>{{ todo.todo_details|safe }}</div>
                            {% else %}
                                <p class="todo-detail" hidden>Todoの詳細はありません。</p>
                            {% endif %}

                            <!-- 期日 -->
                            {% if todo.due_date %}
                                <p class="due-date">期日：{{ todo.due_date.strftime('%Y/%m/%d %H:%M') }} ({{ todo.due_date|japanese_day }})</p>
                            {% else %}
                                <p class="due-date non-due-date">期日なし</p>
                            {% endif %}

                            <!-- 登録日 -->
                            <p class="reg-todo-date" hidden>登録日：{{ todo.registration_date.strftime('%Y/%m/%d %H:%M') }} ({{ todo.registration_date|japanese_day }})</p>

                            <!-- 編集ボタン -->
                            <div class="todo-edit-buttons" hidden>
                                <form action="/todo/delete/{{ todo.todo_id }}" method="POST" class="todo-edit-btn-form">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                    <button class="todo-del-btn">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                                <form action="/todo/amend/{{ todo.todo_id }}" method="GET" class="todo-edit-btn-form">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                    <button class="todo-edit-btn">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </form>
                                <form action="/todo/clone/{{ todo.todo_id }}" method="GET" class="todo-edit-btn-form">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                    <button class="todo-copy-btn">
                                        <i class="fa-solid fa-clone"></i>
                                    </button>
                                </form>
                                <form action="/todo/complete/{{ todo.todo_id }}" method="POST" class="todo-edit-btn-form">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                    <button class="todo-complete-btn">
                                        <i class="fa-solid fa-check"></i>
                                    </button>
                                </form>

                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>未完了のTodoは現在ありません。</p>
        {% endif %}
    </div>

    <div id="Complete" class="tab-content" style="display: none;">
        {% if completed_todos %}
            <ul>
                {% for todo in completed_todos %}
                    <li>
                        <div class="todo-item" onclick="toggleTodoDetails(event)">{{ todo.todo_title }}
                            {% if todo.todo_details %}
                                <div class="todo-detail" hidden>{{ todo.todo_details|safe }}</div>
                            {% else %}
                                <p class="todo-detail" hidden>Todoの詳細はありません。</p>
                            {% endif %}
                            <p>登録日：{{ todo.registration_date.strftime('%Y/%m/%d %H:%M') }} ({{ todo.registration_date|japanese_day }})<br>完了日：{{ todo.completed_date.strftime('%Y/%m/%d %H:%M') }} ({{ todo.completed_date|japanese_day }})</p>
                            <div class="todo-edit-buttons" hidden>
                                <form action="/todo/delete/{{ todo.todo_id }}" method="POST" class="todo-edit-btn-form">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                    <button class="todo-del-btn">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                                <form action="/" method="get" class="todo-edit-btn-form">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                    <button class="todo-edit-btn">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>完了済みのTodoはありません。</p>
        {% endif %}
    </div>

    <!-- Todo追加ボタン -->
    <a href="{{ url_for('create_todo_page_load') }}" style="text-decoration: none; color: inherit;">
        <div class="add-todo-button" id="add-todo-button">+</div>
    </a>

{% endblock %}