{% extends "base.html" %}
{% block body %}
    <!-- ポップアップのマークアップ、初期状態では非表示 -->
    <div id="popup" class="popup hidden">
        <p id="popupMessage"></p>
    </div>

    <div class="back-todo-past-to-home">
        <a href="{{ url_for('home_page_load') }}">
            <i class="fa-solid fa-circle-left"> 戻る</i>
        </a>
    </div>

    <div class="report-status">
        <i class="fa-solid fa-pen"> クローンから作成中...</i>
    </div>

    <form action="/todo" method="POST" class="todo-form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <div class="form-group">
            <label for="todo-title"></label>
            <input type="text" id="todo-title" name="todo_title" value="{{ todo.todo_title }}">
        </div>
        <div class="form-group">
            <label for="todo-details"></label>
            <textarea id="todo-details" name="todo_detail" rows="8">
                {{ todo.todo_details | safe }}
            </textarea>
        </div>
        <div class="form-group">
            <label for="todo-due-date">期日</label>
            <input type="datetime-local" id="todo-due-date" name="due_date_time" value="{{ todo.due_date }}">
        </div>
        <div class="form-group">
            <button type="submit" class="submit-button">保存</button>
        </div>
    </form>

    <!-- CKEditorのスクリプトを追加 -->
    <script src="https://cdn.ckeditor.com/4.16.2/full/ckeditor.js"></script>
    <script>

    </script>
    <script>
        // ページロード時にリッチテキストエディターのワーニングを除去する。
        document.addEventListener("DOMContentLoaded", function() {
            setTimeout(function() {
                const element = document.getElementById("cke_notifications_area_todo-details");
                if (element) {
                    element.hidden = true; // hidden 属性を設定
                }
            }, 200); // 1000ms = 1秒
        });
    </script>

{% endblock %}
<style>
    .popup {
        position: fixed;
        top: -100px; /* 初期位置を画面上部から外に設定 */
        left: 0;
        width: 100%;
        background-color: #333;
        color: white;
        text-align: center;
        padding: 20px 0;
        z-index: 1000;
        transition: top 0.5s ease; /* スライドダウンのアニメーション */
    }

    .popup.hidden {
        visibility: hidden;
    }

    .popup.show {
        top: 0; /* ポップアップを表示する位置 */
        visibility: visible;
    }
</style>