<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/@@material-ui/core@latest/umd/material-ui.production.min.js" crossorigin></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.0/prop-types.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <title>👨‍✈️TODO | ログイン</title>
</head>
<body>
<header>
</header>
<div class="flex flex-col items-center justify-center w-screen h-screen bg-gray-100 text-gray-700">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded" role="alert">
                {% for message in messages %}
                    <span class="block sm:inline">{{ message }}</span>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form class="flex flex-col bg-white rounded-md shadow-lg p-12 mt-12 font-err" id="loginForm" action="/login" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <label class="font-semibold text-xs">ユーザ名またはメールアドレス</label>
        <input class="flex items-center h-12 px-4 w-64 bg-gray-100 mt-2 rounded-md focus:outline-none focus:ring-2" type="text" id="upn" name="upn">
        <!--            <div>-->
        <!--                <span asp-validation-for="UserName"></span>-->
        <!--            </div>-->

        <label class="font-semibold text-xs mt-3">パスワード</label>
        <input class="flex items-center h-12 px-4 w-64 bg-gray-100 mt-2 rounded-md focus:outline-none focus:ring-2" type="password" id="password" name="password">
        <!--            <div>-->
        <!--                <span asp-validation-for="Password"></span>-->
        <!--            </div>-->

        <button class="flex items-center justify-center h-12 px-6 w-64 bg-blue-600 mt-8 rounded-md font-semibold text-sm text-blue-100 hover:bg-blue-700" id="loginButton" type="submit">ログイン</button>

        <div class="flex mt-6 justify-center text-xs">
            <a class="text-blue-400 hover:text-blue-500" href="{{ url_for('sign_up_page_load') }}">アカウントを作成する</a>
        </div>

        <div class="flex mt-6 justify-center text-xs">
            <a class="text-blue-400 hover:text-blue-500" href="#">パスワードを忘れた</a>
        </div>
        <div class="line-login">
            <a href="{{ url_for('line_login') }}">
                <img src="{{ url_for('static', filename='images/line_login_btn.png') }}" alt="Login with LINE">
            </a>
        </div>
    </form>

</div>
</body>
</html>

<script>
document.addEventListener('DOMContentLoaded', function () {
    var upn = document.getElementById('upn');
    var password = document.getElementById('password');
    var submitButton = document.getElementById('loginButton');

    function updateButtonState() {
        submitButton.disabled =
            !upn.value
            || !password.value
    }

    updateButtonState();

    upn.addEventListener('keyup', updateButtonState);
    password.addEventListener('keyup', updateButtonState);
});
</script>
<style>
    .line-login{
        margin-top: 20px;
        display: grid;
        place-items: center;
    }
    .line-login img{
        width: 150px;
    }
    .line-login img:hover{
        filter: brightness(90%);
    }
</style>