<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>👨‍✈️TODO | ログイン</title>
</head>
<body>
<header>
</header>
<form id="loginForm" action="/login" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <label for="upn">ユーザ名またはメールアドレス</label>
    <br>
    <input type="text" id="upn" name="upn">

    <div>
        <span id="validation-for-upn"></span>
    </div>

    <label for="password">パスワード</label>
    <br>
    <input type="password" id="password" name="password">

    <br>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {% for message in messages %}
                    <span>{{ message }}</span>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div style="padding-top: 20px">
        <button id="loginButton" type="submit">ログイン</button>
    </div>

    <div style="padding-top: 20px">
        <a href="{{ url_for('sign_up_page_load') }}">アカウントを作成する</a>
    </div>
    <div style="padding-top: 10px">
        <a href="#">パスワードを忘れた</a>
    </div>
</form>
<!-- LINEでログインするためのリンク -->
<br>
<div class="line-login">
    <a href="{{ url_for('line_login') }}">
        <img src="{{ url_for('static', filename='images/line_login_btn.png') }}" alt="Login with LINE">
    </a>
</div>

</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const upn = document.getElementById('upn');
        const password = document.getElementById('password');
        const submitButton = document.getElementById('loginButton');

        function updateButtonState() {
            submitButton.disabled =
                !upn.value
                || !password.value
        }

        updateButtonState();

        upn.addEventListener('keyup', updateButtonState);
        password.addEventListener('keyup', updateButtonState);
    });
</script>
<style>
    .line-login img{
        width: 150px;
    }
    .line-login img:hover{
        filter: brightness(90%);
    }
</style>



<!--<!DOCTYPE html>-->
<!--<html lang="ja">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta charset="utf-8" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
<!--    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>-->
<!--    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>-->
<!--    <script src="https://unpkg.com/@@material-ui/core@latest/umd/material-ui.production.min.js" crossorigin></script>-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.0/prop-types.min.js"></script>-->
<!--    <script src="https://cdn.tailwindcss.com"></script>-->
<!--    <title>筋トレ記録：ログイン</title>-->
<!--</head>-->
<!--<body>-->
<!--    <header>-->
<!--    </header>-->
<!--    <div class="flex flex-col items-center justify-center w-screen h-screen bg-gray-100 text-gray-700">-->
<!--        <form class="flex flex-col bg-white rounded-md shadow-lg p-12 mt-12" id="loginForm" action="/login" method="post">-->
<!--            <label class="font-semibold text-xs">ユーザ名またはメールアドレス</label>-->
<!--            <input class="flex items-center h-12 px-4 w-64 bg-gray-100 mt-2 rounded-md focus:outline-none focus:ring-2" type="text" id="upn" name="upn">-->
<!--&lt;!&ndash;            <div>&ndash;&gt;-->
<!--&lt;!&ndash;                <span asp-validation-for="UserName"></span>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->

<!--            <label class="font-semibold text-xs mt-3">パスワード</label>-->
<!--            <input class="flex items-center h-12 px-4 w-64 bg-gray-100 mt-2 rounded-md focus:outline-none focus:ring-2" type="password" id="password" name="password">-->
<!--            {% if failed_msg %}-->
    <!--                <div>-->
    <!--                    <span asp-validation-for="Password">{{ failed_msg }}</span>-->
    <!--                </div>-->
    <!--            {% endif %}-->

<!--            <button class="flex items-center justify-center h-12 px-6 w-64 bg-blue-600 mt-8 rounded-md font-semibold text-sm text-blue-100 hover:bg-blue-700" id="loginButton" type="submit">ログイン</button>-->

<!--            <div class="flex mt-6 justify-center text-xs">-->
<!--                <a class="text-blue-400 hover:text-blue-500" href="{{ url_for('sign_up_page_load') }}">アカウントを作成する</a>-->
<!--            </div>-->

<!--            <div class="flex mt-6 justify-center text-xs">-->
<!--                <a class="text-blue-400 hover:text-blue-500" href="#">パスワードを忘れた</a>-->
<!--            </div>-->
<!--        </form>-->

<!--    </div>-->
<!--</body>-->
<!--</html>-->