<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/@@material-ui/core@latest/umd/material-ui.production.min.js" crossorigin></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.0/prop-types.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <title>👨‍✈️TODO | サインアップ</title>
</head>
<body>
<header>
</header>
<div class="flex flex-col items-center justify-center w-screen h-screen bg-gray-100 text-gray-700">
    <form class="flex flex-col bg-white rounded-md shadow-lg p-12 mt-12" id="registrationForm" action="/signup" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

        <label class="font-semibold text-xs mt-3">ユーザ名</label>
        <input class="flex items-center h-12 px-4 w-64 bg-gray-100 mt-2 rounded-md focus:outline-none focus:none" type="text" id="user_name" name="user_name">
        <!--            <div>-->
        <!--                <span asp-validation-for="UserName"></span>-->
        <!--            </div>-->


        <label class="font-semibold text-xs mt-3">ユーザ名(メールアドレス)</label>
        <input class="flex items-center h-12 px-4 w-64 bg-gray-100 mt-2 rounded-md focus:outline-none focus:none" type="email" id="email" name="email">
        <!--            <div>-->
        <!--                <span asp-validation-for="UserName"></span>-->
        <!--            </div>-->

        <label class="font-semibold text-xs mt-3">パスワード</label>
        <input class="flex items-center h-12 px-4 w-64 bg-gray-100 mt-2 rounded-md focus:outline-none focus:none" type="password" id="password" name="password">
        <!--            <div>-->
        <!--                <span asp-validation-for="Password"></span>-->
        <!--            </div>-->
        <label class="font-semibold text-xs mt-3">パスワード(再入力)</label>
        <input class="flex items-center h-12 px-4 w-64 bg-gray-100 mt-2 rounded-md focus:outline-none focus:none" type="password" id="password_re" name="password">
        <!--            <div>-->
        <!--                <span asp-validation-for="Password"></span>-->
        <!--            </div>-->

        <button class="flex items-center justify-center h-12 px-6 w-64 bg-blue-600 mt-8 rounded-md font-semibold text-sm text-blue-100 hover:bg-blue-700" id="registerButton" type="submit">アカウントを登録する</button>
        <div class="flex mt-6 justify-center text-xs">
            <a class="text-blue-400 hover:text-blue-500" href="{{ url_for('login_page_load') }}">アカウントをすでに持っている</a>
        </div>
        <div class="line-login">
            <!-- LINEでログインするためのリンク -->
            <p>▼ LINEでアカウントを作成できます。</p>
            <a href="{{ url_for('line_login') }}">
                <img src="{{ url_for('static', filename='images/line_login_btn.png') }}" alt="Login with LINE">
            </a>
        </div>
    </form>

</div>
</body>
</html>

<script>
document.addEventListener('DOMContentLoaded', function () {
    // var lastName = document.getElementById('last_name');
    // var firstName = document.getElementById('first_name');
    var userName = document.getElementById('user_name');
    var email = document.getElementById('email');
    var password = document.getElementById('password');
    var passwordRe = document.getElementById('password_re');
    var submitButton = document.getElementById('registerButton');

    function updateButtonState() {
        submitButton.disabled =
            // !lastName.value
            // || !firstName.value
            !userName.value
            || !email.value
            || !password.value
            || !passwordRe.value
    }

    updateButtonState();

    // lastName.addEventListener('keyup', updateButtonState);
    // firstName.addEventListener('keyup', updateButtonState);
    userName.addEventListener('keyup', updateButtonState);
    email.addEventListener('keyup', updateButtonState);
    password.addEventListener('keyup', updateButtonState);
    passwordRe.addEventListener('keyup', updateButtonState);
});
</script>
<style>
    .line-login{
        margin-top: 20px;
        padding-top: 10px;
        display: grid;
        place-items: center;
    }
    .line-login img{
        margin-top: 10px;
        width: 150px;
    }
    .line-login img:hover{
        filter: brightness(90%);
    }
</style>